.blog {
    padding: 50px 0;
    text-align: center;

    &__info {
        max-width: 735px;
        margin: 0 auto 30px;
        text-align: center;

        &-title {
            font: $h2-font;
            color: $black;
            margin-bottom: 20px;
        }

        &-descr {
            font: $main-font;
            color: $text-color;
        }
    }

    &__wrap {
        letter-spacing: $letter-spc;
        margin: 0 -15px;
    }

    &__col {
        width: calc(100% / 2);
        padding: 0 15px;
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        text-align: left;
    }

    &__first-image {
        display: block;
        padding-bottom: 72%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        &:hover {
            transform: scale(1.05);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        padding: 30px 0;
        max-width: 470px;

        &-name {
            margin-bottom: 10px;

            &-link {
                font: $h3-font;
                color: $title-color;

                &:hover {
                    color: blue;
                }
            }
        }

        &-descr {
            margin-bottom: 10px;
            text-align: left;
        }
    }

    &__news-card1, 
    &__news-card2, 
    &__news-card3 {
        letter-spacing: $letter-spc;
    }

    &__news-card {
        width: calc(100% / 2);
        display: inline-block;
        letter-spacing: normal;
        vertical-align: middle;
        margin-bottom: 30px;
        position: relative;
    }

    &__news-card-link {
        display: block;
        padding-bottom: 76%;
        overflow: hidden;
        position: relative;
        border-radius: 10px;

        &:hover {
            transform: scale(1.05);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__news-card-body-info {
        vertical-align: middle;
        padding: 0 30px;
    }

    &__news-card-body-link {
        margin-bottom: 10px;
        font: $h3-font;
        color: $title-color;

        &:hover {
            color: blue;
        }
    }

    &__news-card-body-descr {
        margin: 10px 0 5px;
        font: $main-font;
        color: $text-color;
    }
}

@media(max-width: 768px) {
    .blog__col {
        width: 100%;
        padding: 0 55px;
    }

    .blog__body {
        max-width: 720px;
        text-align: center;
    }
}