.location {
    padding: 50px 0;
    text-align: center;

    &__info {
        max-width: 735px;
        margin: 0 auto 30px;
        text-align: center;

        &-title {
            font: $h2-font;
            color: $black;
            margin-bottom: 20px;
        }

    }

    &__wrap {
        letter-spacing: $letter-spc;
        margin: 0 -15px;
    }

    &__col {
        width: calc(100% / 3);
        padding: 0 15px;
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
    }

    &__card {
        background-color: $white;
        transition: $trs;
        border-radius: 20px;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 6px 35px rgba(13, 32, 4, 0.05);
        }
    }

    &__image-link {
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 82%;
        border-radius: 20px 20px 0 0;
        border: 1px solid rgba(89, 190, 41, 0.05);
        border-bottom: none; 

        img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 300px;
            transition: $trs;
        }
    }

    &__body {
        padding: 30px;
        border-radius: 0 0 30px 30px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        border-top: none;
        text-align: center;
    }

    &__name {
        display: block;
        margin-bottom: 10px;
    }

    &__link {
        font: $h3-font;
        color: $title-color;

        &:hover {
            color: $blue;
        }
    }
}

@media(max-width: 1024px) {
    .location__body {
        max-height: 278px;
    }
}

@media(max-width: 768px) {
    .location__col {
        width: 100%;
        padding: 10px 90px;
    }

    .location__image-link {
        padding-bottom: 40%;
    }
}