.stays {
    padding: 50px 0;
    text-align: center;

    &__header {
        max-width: 735px;
        margin: 0 auto 30px;
        text-align: center;

        &-title {
            font: $h2-font;
            color: $black;
            margin-bottom: 20px;
        }

        &-descr {
            font: $main-font;
            color: $text-color;
        }
    }

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slide {
        width: 262px;
    }

    &__card {
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: 10px;
        background-color: $white;
        transition: $trs;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 6px 35px rgb(13 32 4 / 5%);
        }
    }

    &__image-link {
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 66%;
        border-radius: 10px 10px 0 0;
        border: 1px solid rgba(89, 190, 41, 0.05);
        border-bottom: none;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    &__body {
        text-align: center;
        padding: 10px 0;
        border-radius: 0 0 10px 10px;
        border: 1px solid rgba(0, 0, 0, 0.123);
    }

    &__name {
        padding: 10px 0 4px;
    }

    &__link {
        font: $h3-font;
        color: $title-color;

        &:hover {
            color: $blue;
        }
    }

    &__review {
        display: flex;
        justify-content: center;
        align-items: center;

        &-location {
            display: flex;
            align-items: center;
            padding: 4px 25px 4px 0;
        }

        &-rating {
            display: flex;
            align-items: center;
            padding: 4px 0 4px 25px;
        }
    }

    &__info {
        padding: 5px 0 5px;
        font: $main-font;
        color: $text-color;
    }

    &__price {
        font: $main-font;
        color: $black;

        span {
            font: $main-font;
            color: $text-color;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        padding-top: 45px;
    }
}

.swiper-wrapper {
    display: flex;
}

.review__location-link, .review__rating-link {
    display: flex;
    align-items: center;
}

.review__location {
    padding-left: 10px;
    font: $main-font;
}

.review__rating {
    padding-left: 10px;
    font: $main-font;
    color: $black;
}