@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-family: "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 55px;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(22, 52, 7, 0.15);
  border-radius: 30px 30px;
  padding: 5px 44px;
  border: 1px solid #0066ff;
  color: #fff;
  background-color: #0066ff;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 0px 7px 10px rgba(251, 255, 0, 0.363);
}
.btn--sm:hover {
  box-shadow: 0px 7px 10px rgba(0, 43, 136, 0.363);
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/kyiv.jpeg);
  background-position: center;
  background-size: cover;
}
.header__wrap {
  display: flex;
  flex-direction: column;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  padding: 0 25px;
}
.header__nav-item-link {
  position: relative;
}
.header__nav-item-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
}
.header__nav-item-link:hover::before {
  width: 100%;
}
.header__logo {
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #0971ef 0%, #207cca 0%, #2989d8 30%, #fff600 100%);
  border-radius: 50px;
}
.header__info {
  display: flex;
  flex-direction: column;
  padding: 75px 0 115px;
}
.header__info-title {
  margin-bottom: 30px;
  max-width: 765px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 63px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(/images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
.header__info-descr {
  max-width: 520px;
  margin-bottom: 30px;
  color: #fff;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
@media (max-width: 1024px) {
  .header__info {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .header__info-title {
    font-size: 55px;
  }
}
.location {
  padding: 50px 0;
  text-align: center;
}
.location__info {
  max-width: 735px;
  margin: 0 auto 30px;
  text-align: center;
}
.location__info-title {
  font: 600 50px/1.3 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
  margin-bottom: 20px;
}
.location__wrap {
  letter-spacing: -0.36em;
  margin: 0 -15px;
}
.location__col {
  width: 33.3333333333%;
  padding: 0 15px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.location__card {
  background-color: #fff;
  transition: all 0.3s;
  border-radius: 20px;
}
.location__card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 35px rgba(13, 32, 4, 0.05);
}
.location__image-link {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 82%;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(89, 190, 41, 0.05);
  border-bottom: none;
}
.location__image-link img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 300px;
  transition: all 0.3s;
}
.location__body {
  padding: 30px;
  border-radius: 0 0 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.123);
  border-top: none;
  text-align: center;
}
.location__name {
  display: block;
  margin-bottom: 10px;
}
.location__link {
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
}
.location__link:hover {
  color: #0066ff;
}

@media (max-width: 1024px) {
  .location__body {
    max-height: 278px;
  }
}
@media (max-width: 768px) {
  .location__col {
    width: 100%;
    padding: 10px 90px;
  }

  .location__image-link {
    padding-bottom: 40%;
  }
}
.stays {
  padding: 50px 0;
  text-align: center;
}
.stays__header {
  max-width: 735px;
  margin: 0 auto 30px;
  text-align: center;
}
.stays__header-title {
  font: 600 50px/1.3 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
  margin-bottom: 20px;
}
.stays__header-descr {
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.stays__block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stays__slide {
  width: 262px;
}
.stays__card {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s;
}
.stays__card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 35px rgba(13, 32, 4, 0.05);
}
.stays__image-link {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 66%;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(89, 190, 41, 0.05);
  border-bottom: none;
}
.stays__image-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.stays__body {
  text-align: center;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.123);
}
.stays__name {
  padding: 10px 0 4px;
}
.stays__link {
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
}
.stays__link:hover {
  color: #0066ff;
}
.stays__review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stays__review-location {
  display: flex;
  align-items: center;
  padding: 4px 25px 4px 0;
}
.stays__review-rating {
  display: flex;
  align-items: center;
  padding: 4px 0 4px 25px;
}
.stays__info {
  padding: 5px 0 5px;
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.stays__price {
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
}
.stays__price span {
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.stays__controls {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.swiper-wrapper {
  display: flex;
}

.review__location-link, .review__rating-link {
  display: flex;
  align-items: center;
}

.review__location {
  padding-left: 10px;
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
}

.review__rating {
  padding-left: 10px;
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
}

@media (max-width: 768px) {
  .stays__slide {
    width: 19%;
  }

  .stays__card {
    padding: 0 5px;
    width: 97%;
  }

  .stays__link {
    font-size: 17px;
  }

  .stays__name {
    padding-bottom: 10px;
  }

  .stays__review-location {
    padding: 0 5px;
  }

  .review__location-link, .review__rating-link {
    width: 15px;
  }

  .review__location {
    font-size: 13px;
    padding-left: 3px;
  }

  .stays__review-rating {
    padding: 0 5px;
  }

  .review__rating {
    padding-left: 3px;
    font-size: 13px;
  }

  .stays__info {
    font-size: 15px;
  }
}
.blog {
  padding: 50px 0;
  text-align: center;
}
.blog__info {
  max-width: 735px;
  margin: 0 auto 30px;
  text-align: center;
}
.blog__info-title {
  font: 600 50px/1.3 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
  margin-bottom: 20px;
}
.blog__info-descr {
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.blog__wrap {
  letter-spacing: -0.36em;
  margin: 0 -15px;
}
.blog__col {
  width: 50%;
  padding: 0 15px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  text-align: left;
}
.blog__first-image {
  display: block;
  padding-bottom: 72%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.blog__first-image:hover {
  transform: scale(1.05);
}
.blog__first-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog__body {
  padding: 30px 0;
  max-width: 470px;
}
.blog__body-name {
  margin-bottom: 10px;
}
.blog__body-name-link {
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
}
.blog__body-name-link:hover {
  color: blue;
}
.blog__body-descr {
  margin-bottom: 10px;
  text-align: left;
}
.blog__news-card1, .blog__news-card2, .blog__news-card3 {
  letter-spacing: -0.36em;
}
.blog__news-card {
  width: 50%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  margin-bottom: 30px;
  position: relative;
}
.blog__news-card-link {
  display: block;
  padding-bottom: 76%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.blog__news-card-link:hover {
  transform: scale(1.05);
}
.blog__news-card-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog__news-card-body-info {
  vertical-align: middle;
  padding: 0 30px;
}
.blog__news-card-body-link {
  margin-bottom: 10px;
  font: 500 25px/1.5 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: #000;
}
.blog__news-card-body-link:hover {
  color: blue;
}
.blog__news-card-body-descr {
  margin: 10px 0 5px;
  font: 400 18px/1.6 "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .blog__col {
    width: 100%;
    padding: 0 55px;
  }

  .blog__body {
    max-width: 720px;
    text-align: center;
  }
}
.prefooter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../images/bg-kyiv.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 1px;
  height: 475px;
}
.prefooter__wrap {
  text-align: center;
  position: absolute;
  font-family: "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.prefooter__title {
  display: block;
  padding: 20px 0;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  max-width: 450px;
}

.footer {
  background-color: #fff;
  padding: 60px 0 0;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 -15px;
}
.footer__col {
  padding: 0 15px;
}
.footer__title {
  display: block;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #000;
  margin-bottom: 10px;
}
.footer__email {
  margin-right: 30px;
  max-width: 258px;
  padding-bottom: 23px;
}
.footer__email-link {
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #000;
}
.footer__email-link:hover {
  color: #0066ff;
}
.footer__social {
  display: flex;
  align-items: center;
  padding-right: 27px;
}
.footer__social-item {
  padding-right: 27px;
}
.footer__social-item:last-child {
  padding-right: 0;
}
.footer__social-link {
  display: block;
}
.footer__social-link:hover {
  transform: scale(1.2);
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
}
.footer__nav-item {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.footer__nav-link {
  color: #000;
}
.footer__nav-link:hover {
  color: #0066ff;
}
.footer__label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.5;
  color: #000;
}
.footer__row {
  display: flex;
}
.footer__email-input {
  margin-right: 35px;
}
.footer__email-input input {
  width: 100%;
  height: 52px;
  border-radius: 10px 10px;
  border: 1px solid #0066ff;
}
.footer__last {
  background-color: #a6dbff;
  height: 50px;
  text-align: center;
  width: 100%;
}
.footer__last p {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.85px;
  padding-top: 18px;
}

@media (max-width: 768px) {
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .footer__col:last-child {
    text-align: center;
    padding: 20px 210px;
  }
}

/*# sourceMappingURL=style.css.map */
